.features {
@media (max-width: 1199px) {
  padding-top: 60px;
  padding-bottom: 60px;  
  }
}

.features__list {
  width: 100%;  

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px*3) / 4);
  }
}

.features__icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: getColor("button-bgd");
  border-radius: 4px;
  color: getColor("title-and-btn"); 

  @media (min-width: 768px) {
  }
}

.features__icon--indent {
  margin-bottom: 30px;
  
}

.features__picture {
  fill: currentColor;
}

.features__subtitle--indent {
  margin-bottom: 10px;

  @media (max-width: 767px) {
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.features__text {
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  @include font(null, null, null, null);
}
