.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 100vh;

  min-height: 550px;
  z-index: 5;
  overflow: hidden;
  visibility: hidden;

  display: flex;
  flex-wrap: wrap;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: getColor("primary-white");
  outline: none;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  visibility: visible;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-site-nav {
  display: block;
  padding-top: 48px;
  padding-left: 40px;
  margin-bottom: auto;
}

.button-mobile-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  border-radius: 50%;
}

.button-mobile-menu-close__icon {
  fill: currentColor;
  color: getColor("primary-black");

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("accent");
  }
}

.mobile-site-nav {
  display: block;
}

.mobile-site-nav__item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-site-nav__link {
  color: getColor("title-and-btn");

  @include font(40, 500, 1.175);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: getColor("accent");
  }
}

.mobile-menu-social-wrap {
  position: fixed;
  left: 0;
  @media (max-width: 399px) {
    bottom: 285px;
  }
  @media (min-width: 400px) {
    bottom: 235px;
  }
  overflow: visible;
  z-index: 100;

  display: flex;
  flex-wrap: wrap;

  height: 0px;
}

.mobile-menu-contacts {
  display: block;
}

.mobile-menu-contacts--indent {
  margin-bottom: 64px;
  margin-left: 40px;
  padding: 0;
}

.mobile-menu-contacts__tel {
  display: block;

  margin-bottom: 32px;

  @media (min-width: 320px) and (min-width: 480px) {
    margin-right: 100px;
  }

  color: getColor("accent");

  @include font(30, 500, 1.18);
  letter-spacing: 0.02em;
}

.mobile-menu-contacts__mail {
  display: block;
  color: getColor("primary");

  @include font(24, 500, 1.18);
  letter-spacing: 0.02em;
}

.mobile-menu-sociallink {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mobile-menu-sociallink--indent {
  margin-left: 40px;
}

.mobile-menu-sociallink__link {
  height: 22px;
  padding: 0;
  margin: 0;
  @media (max-width: 399px) {
    &:nth-child(even) {
      padding-left: 10px;
    }
    &:nth-child(2) {
      padding-right: 113px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 24px;
    }

    &:nth-child(odd) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  @media (min-width: 400px) {
    &:not(:first-child) {
      padding-left: 10px;
    }
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.mobile-menu-sociallink__item {
  color: getColor("accent");

  @include font(18, 500, 1.22);
  letter-spacing: 0.02em;
}
