.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: getColor("header-border");
}

.page-header__container {
  display: flex;
  align-items: center;

  padding-top: 0;
  padding-bottom: 0;
}
