.subscribe {
  padding-top: 12px;
  margin-left: auto;
}

.subscribe__subtitle {
  color: getColor("primary-white");
}

.subscribe-form__field {
  position: relative;
  margin-top: 20px;
  display: inline-block;
}

.subscribe-form__label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include font(null, null, 1.25, $ls);
}

.subscribe-form__input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;

  color: getColor("footer-form");
  outline: none;
  background-color: transparent;
  border: 1px solid getColor("footer-border-form");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:focus {
    border-color: getColor("accent");
  }

  &:focus + .subscribe-form__label,
  &:not(:placeholder-shown) + .subscribe-form__label {
    color: getColor("primary-white");
    transform: translate(-75px, -50%);
  }
}
