.page-header {
  max-width: 1600px;
  margin: 0 auto;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: getColor("header-border");  
}

.page-header__container {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;  
}
 
.page-header__nav {
  display: flex;
  align-items: center;
}

  

.button-mobile-menu-open {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 22px;
  right: 8px;

  background-color: getColor("primary-white");
  border: none;

  fill: currentColor;

  &:hover {
    color: getColor("accent");
  }

  @media (min-width: 768px) {
    display: none;
  }
}
