.projects__container {
  padding-top: 0;
}

.projects__list {
  display: flex;
  justify-content: space-between;
}

.projects__item {
  position: relative;
}

.projects__subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;

  display: flex;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;

  color: getColor("primary-white");
  background-color: rgba(47, 48, 58, 0.8);
}
